.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 30px auto 0;
  width: 1128px;
  gap: 24px;
  list-style: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
  transform: scale(1.05);
}

.modal-image {
  width: 1112px;
  height: 640px;
  object-fit: cover;
}
